.btn{
    outline:none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
}

.btn-primary{
    color: #4d4dff;
    border-color: #4d4dff;
    background-color: transparent;
}

input{
    width: 80%;
    border: groove;
    border-top: 2px, solid #4d4dff;
    border-bottom: 2px, solid #4d4dff;
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
}

input:focus{
    outline: none;
    border: groove;
    border-top: 2px, solid #4d4dff;
    border-bottom: 2px, solid #4d4dff;
}